### Question 1 
What's the version of NumPy that you installed?

In [2]:
import numpy as np
print(np.__version__)

1.20.3

### Question 2
What's the version of Pandas?

In [3]:
import pandas as pd
print(pd.__version__)

1.3.2

Getting the data:

In [4]:
data = pd.read_csv('data.csv')
len(data)

11914

### Question 3
What's the average price of BMW cars in the dataset?

In [5]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [13]:
avg_price_BMW = data['MSRP'][(data['Make'] == 'BMW')].mean()
print('Average price of BMW is:', avg_price_BMW)

Average price of BMW is: 61546.76347305389

### Question 4 
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [14]:
cars_after_2015 = data[data['Year']>=2015]
cars_after_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5995 entries, 32 to 11902
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               5995 non-null   object
 1   Model              5995 non-null   object
 2   Year               5995 non-null   int64
 3   Engine Fuel Type   5995 non-null   object
 4   Engine HP          5944 non-null   float64
 5   Engine Cylinders   5987 non-null   float64
 6   Transmission Type  5995 non-null   object
 7   Driven_Wheels      5995 non-null   object
 8   Number of Doors    5990 non-null   float64
 9   Market Category    4671 non-null   object
 10  Vehicle Size       5995 non-null   object
 11  Vehicle Style      5995 non-null   object
 12  highway MPG        5995 non-null   int64
 13  city mpg           5995 non-null   int64
 14  Popularity         5995 non-null   int64
 15  MSRP               5995 non-null   int64
dtypes: float64(3), int64(5), object(8)
memory usage: 608.9+ KB

In [15]:
cars_after_2015.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP              51
Engine Cylinders        8
Transmission Type       0
Driven_Wheels           0
Number of Doors         5
Market Category      1324
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Question 5

* Calculate the average "Engine HP" in the dataset. 
* Use the `fillna` method and to fill the missing values in "Engine HP" with the mean value from the previous step. 
* Now, calcualte the average of "Engine HP" again.
* Has it changed?

Round both means before answering this questions. You can use the `round` function for that:

In [20]:
mean_with_na = data['Engine HP'].mean()
print('mean before filling NAs:', round(mean_with_na))

mean before filling NAs: 249

In [21]:
#Filling NAs with the Mean 
from sklearn.impute import SimpleImputer

mean_imp = SimpleImputer(missing_values=np.nan, strategy='mean')
mean_imp.fit(data[['Engine HP']])
data['Engine HP'] = mean_imp.transform(data[['Engine HP']]).ravel()

In [22]:
print('mean before filling NAs:', round(mean_with_na))
print('mean after filling NAs:', round(data['Engine HP'].mean()))

mean before filling NAs: 249
mean after filling NAs: 249

The mean of the Engine HP column has not changed after mean imputation.

### Question 6

* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* What's the sum of all the elements of the result?

Hint: if the result is negative, re-read the task one more time

In [31]:
#Filtering Rolls-Royce cars and selecting only "Engine HP", "Engine Cylinders", "highway MPG" columns
rr_data = data[(data['Make']=='Rolls-Royce')]
rr_data = rr_data[['Engine HP','Engine Cylinders','highway MPG']]
rr_data

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5276       563.0              12.0           21
5277       563.0              12.0           21
5278       563.0              12.0           21
5279       563.0              12.0           20
5280       563.0              12.0           20
5281       563.0              12.0           21
5282       563.0              12.0           21
5283       563.0              12.0           21
5284       563.0              12.0           21
7443       322.0              12.0           15
7444       322.0              12.0           15
7553       453.0              12.0           19
7554       453.0              12.0           19
7555       453.0              12.0           19
7556       453.0              12.0           19
7557       453.0              12.0           19
7558       453.0              12.0           19
7559       453.0              12.0           19
7560       453.0              12.0           19
7561       453.0              12.0           19
7562       453.0              12.0           19
7563       453.0              12.0           19
7564       453.0              12.0           19
9431       322.0              12.0           15
9432       322.0              12.0           15
11448      624.0              12.0           21
11449      624.0              12.0           21
11450      624.0              12.0           21

In [32]:
#drop all duplicated rows 
X = rr_data.drop_duplicates()
X

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [34]:
#multiplication of transpose of X and itself
XTX = np.dot(X.T, X)
#invert of this multiplication
inverted_XTX = np.linalg.inv(XTX)
inverted_XTX

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

In [35]:
inverted_XTX.sum()

0.032212320677486195

### Questions 7 

* Create an array `y` with values `[1000, 1100, 900, 1200, 1000, 850, 1300]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?.

In [36]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]
y

[1000, 1100, 900, 1200, 1000, 850, 1300]

In [38]:
w = np.linalg.multi_dot([inverted_XTX,X.T, y])
w

array([ 0.19989598, 31.02612262, 31.65378877])

In [39]:
print('The first element of w is', w[0])

The first element of w is 0.19989598183190083